# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\classifier_multi_label-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
